body {
  color:black;
  background-color:khaki;
  font-family:cursive;
}

a {
  color:#FC86D7;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 500px;
  max-height: 500px; 
}

h3{
  color: crimson;
}

h1{
  color:purple
}

h2{
  color:steelblue;
}